* {
    font-family: 'Poppins', sans-serif;
}

/* Estilos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo das células do cabeçalho */
thead th {
    background-color: rgb(221, 144, 0); /* Cor principal da tabela */
    color: white;
    text-align: left;
    padding: 12px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/* Estilo das células do corpo da tabela */
tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

/* Zebra striping para as linhas da tabela */
tbody tr {
    background-color: #f9f9f9;
}

/* Estilo ao passar o mouse sobre a linha */
tbody tr:hover {
    background-color: #dddddd;
    cursor: pointer;
}

/* Estilo quando não houver partidas */
tbody td[colspan="4"] {
    text-align: center;
    padding: 20px;
    color: #666;
    font-style: italic;
}

/* Estilos adicionais */
table, th, td {
    border: 1px solid #ccc;
}

th, td {
    text-align: center;
}

/* Botões de filtro */
.filter-buttons {
    margin-bottom: 20px;
}

.filter-buttons .btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(179, 116, 0);
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
}

.filter-buttons .btn:hover {
    background-color: rgb(134, 87, 0);
}

.filter-buttons .btn.active {
    background-color: #ffbb00;
    font-weight: bold;
}
