<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Memória</title>
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    
    <script src="{% static '/js/jquery-3.7.1.js' %}"></script>
    <script defer src="{% static '/js/init.js' %}"></script>
</head>
<body class="flex">
    <header>
        <h1>
            Jogo da Memória de Naruto
        </h1>
    </header>
    <nav>
        <a href="http://localhost:8000/laderboards">Ranking<a/>
    </nav>
    <main class="flex">
        <div class="score">
            <p>Tempo: <span id="timer">00:00:00</span></p>
            <p>Tentativas: <span id="tentativas">0</span></p>
        </div>
        <div id="board"></div>
        
        <!-- Formulário que será exibido ao fim do jogo -->
        <div id="end-game-form" class="flex" style="display: none;">
            <h2>Parabéns! Você completou o jogo.</h2>
            <form id="save-game-form">
                <label for="player-name">Nome:</label>
                <input type="text" id="player-name" name="player_name" required>
                <input type="hidden" id="game-time" name="game_time">
                <input type="hidden" id="game-attempts" name="game_attempts">
                <button type="submit">Salvar Partida</button>
            </form>
            <p id="message"></p>
        </div>
    </main>
    <footer class="flex">
        <div class="col">
            <p>Kauany Maria Cavalcante da Silva</p>
            <p>Pedro Yohan Mendonça da Silva</p>
        </div>
        <div class="col">
            <p>Todos os direitos reservados &copy;</p>
            <p>IFRN - <em>Campus</em> Santa Cruz/RN</p>
        </div>
        <div class="col">
            <p>Disciplina: Programação para Internet</p>
            <p>Professor: Marcelo Figueiredo Barbosa Júnior</p>
        </div>
    </footer>
</body>
</html>