<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/registerLogin.css' %}">
    <script src="{% static 'js/validate.js' %}" defer></script>
    <title>Registro</title>
</head>
<body>
    <main class="register-container">
        <h1>Registrar-se</h1>
        <form id="registerForm" method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="Nome de Usuário" required>
            <input type="email" id="email" name="email" placeholder="E-mail" required>
            <input type="password" id="password" name="password" placeholder="Senha" required>
            <input type="password" id="confirmPassword" name="confirm_password" placeholder="Confirme a Senha" required>
            <div id="errorMessages" class="error-message"></div>
            <button type="submit">Registrar</button>
        </form>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
            <div class="{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <a href="http://localhost:8000/login">Login</a>
    </main>
</body>
</html>
